<!-- Hero -->
<%- include('./home/hero.ejs') %>
<div id="about" />
<%- include('./partials/sectiontitle/index.ejs', {
  pretitle: 'about us', 
  title: 'Making Difference working together',
  detail: 'This is detail tag need to change once after write all the information.'
}) %>

<!-- FAQ -->
<div id="services" />
<%- include('./partials/sectiontitle/index.ejs', {
  pretitle: 'services', 
  title: 'Service we provide to our customer',
  detail: 'We work beyond expectation to satisfy our customer to provide good services that they needed.'
}) %>

<!-- FAQ -->
<%- include('./partials/sectiontitle/index.ejs', {
  pretitle: 'faq', 
  title: 'Frequently Asked Questions',
  detail: 'Here are some of our FAQs. If you have any other questions you’d like answered please feel free to email us.'
}) %>

<div class="flex flex-col w-full lg:max-w-2xl mx-auto">
  <%- include('./partials/detail-summary/index.ejs', {data: {
    question: 'What is the purpose of this application?',
    answer: 'The purpose of this application is to work with theJunior developer and collebrate with the different projects.'
  }}) %>
  <%- include('./partials/detail-summary/index.ejs', {data: {
    question: 'How can I request a new browser?',
    answer: 'The purpose of this application is to work with theJunior developer and collebrate with the different projects.'
  }}) %>
  <%- include('./partials/detail-summary/index.ejs', {data: {
    question: 'Is there a mobile app?',
    answer: 'The purpose of this application is to work with theJunior developer and collebrate with the different projects.'
  }}) %>
  <%- include('./partials/detail-summary/index.ejs', {data: {
    question: 'What about other Chromium browsers?',
    answer: 'The purpose of this application is to work with theJunior developer and collebrate with the different projects.'
  }}) %>
</div>

<!-- CONTACT -->
<div id="contact" />
<%- include('./partials/sectiontitle/index.ejs', {
  pretitle: 'contact', 
  title: 'Connect with us',
  detail: 'Have questions for us. Don`t hegitate to reach us out.'
}) %>

<div class="max-w-lg mx-auto p-2">
  <form id="contact-form">
  <%- include('./partials/input/index.ejs', {
    id: 'email',
    label:'Email',
    placeholder: 'emmawatson@gmail.com',
    type: 'email',
    error_id: 'em_error',
  })%>
  <%- include('./partials/textarea/index.ejs', {
    label: 'Message',
    placeholder: 'Enter Message here...',
    id:'message'
  })%>
  <button type="submit" class="px-3 py-2 border border-gray-700 ml-3 rounded hover:text-blue-600">Submit</button>
  </form>
</div>
<script>
  const onSubmitHandle = (e) => {
    e.preventDefault();
    const email = elmId('email').value;
    const message = elmId('message').value;
    //submit form;
    alert('submitted');
    
  }
  addEvent('contact-form', 'submit', onSubmitHandle)
</script>
