<div 
    class="
    px-3
    w-full 
    <% if (typeof customClass !== 'undefined' && customClass !== '' ) { %>
        <%=customClass%> 
    <% } else { %>
        w-full
    <% } %>
    "
>
    <label 
        class="block uppercase tracking-wide text-xs font-bold mb-2" 
        htmlFor="<% if (typeof page !== 'undefined' ) { %><%=id%><% } %>"
    >
    <% if (typeof label !== 'undefined' ) { %><%=label%> <% } else { %> 'Need Label' <% } %>
    </label>
    <input 
        class="appearance-none block w-full bg-gray-800 rounded py-3 px-4 mb-3 leading-tight focus:outline-none" 
        name="<% if (typeof id !== 'undefined' ) { %><%=id%><% } %>" 
        id="<% if (typeof id !== 'undefined' ) { %><%=id%><% } %>"
        type="<% if (typeof type !== 'undefined' ) { %><%=type%><% } %>" 
        placeholder="<% if (typeof placeholder !== 'undefined' ) { %><%=placeholder%><% } %>"
        value="<% if (typeof value !== 'undefined' ) { %><%=value%><% } %>"
    />
    <p class="text-red-500 text-xs italic" id="<% if (typeof error_id !== 'undefined' ) { %><%=error_id%><% } %>"></p>
</div>
<script>
    addEvent("<% if (typeof id !== 'undefined' ) { %><%=id%><% } %>", 'keyup', (e) => {
        if(e.target.value.length < 4) addText("<% if (typeof error_id !== 'undefined' ) { %><%=error_id%><% } %>", "<% if (typeof error_message !== 'undefined' ) { %><%=error_message%><% } %>");
        else addText("<% if (typeof error_id !== 'undefined' ) { %><%=error_id%><% } %>", '');
    })
  </script>
